<div class="container content">
    <!-- Begin Service Block -->
    <div class="row margin-bottom-40">
        <div class="col-md-4 col-sm-6">
            <div class="service-block service-block-sea service-or">
                <div class="service-bg"></div>
                <i class="icon-custom icon-color-light rounded-x fa fa-lightbulb-o"></i>
                <h2 class="heading-md">Default Box</h2>
                <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="service-block service-block-red service-or">
                <div class="service-bg"></div>
                <i class="icon-custom icon-color-light rounded-x icon-line icon-fire"></i>
                <h2 class="heading-md">Red Box</h2>
                <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine usce dapibus elit nondapibus</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="service-block service-block-blue service-or">
                <div class="service-bg"></div>
                <i class="icon-custom icon-color-light rounded-x icon-line icon-rocket"></i>
                <h2 class="heading-md">Dark Box</h2>
                <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
            </div>
        </div>
    </div>
    <!-- End Begin Service Block -->